<h1>Create a New Figure</h1>
<form method="POST" action="/figures/show">
  <label>Name</label>
  <input type="text" name="name">
  <br/>
  <label>Landmarks</label>
  <input type="text" name="landmark">
  <br/>
  <label>Title</label>
  <input type="title" name="title">

</form>
